.first
{
   margin-bottom: 5%;
}

.first a
{
   background-color: yellow;
   padding-bottom: 2%;
   padding-right: 203px;
   padding-left: 219px;
   margin-top: 1%;
   justify-content: space-between;
   color:yellow

}

.second a
{
   background-color: blue;
   padding-top: 2%;
   margin-top: 2%;
   margin-left: 0%;
   padding-right: 103px;
   padding-left: 84px;
   justify-content: space-between;
   color: blue;
   

}

.troisieme
{
   margin-top: 3%;
   
   
}

.troisieme a
{
   background-color: red;
   padding-top: 2%;
   justify-content: space-between;
   
}

.quatrieme nav 
{
   background-color: green;
   padding-top: 2%;
   margin-top: 1%;
}

.cinquieme nav 

{
   background-color: grey;
   padding-top: 4%;
   margin-top: 1%;
}

.sixieme nav 

{
   background-color: yellow;
   padding-top: 4%;
   margin-left: 40%;
   margin-top: 1%;
}

.septieme nav
{
   background-color: blue;
   padding-top: 4%;
   margin-top: 1%;
   margin-left: 30%;
   margin-right: 30%;
}

.huitieme nav

{
background-color: red;
padding-top: 2%;
margin-top: 1%;
}

#navbar2

{
   background-color: red;
}